.env
.DS_Store

data/**/*.txt
data/**/*.xlsx
data/**/*.json
data/**/*.png

__pycache__

.wwebjs_auth
.wwebjs_cache

whatsappMessaging/node_modules
whatsappMessaging/.wwebjs_auth
whatsappMessaging/.wwebjs_cache